<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h1> Job Trax </h1>

        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Create your Trax</button>
        <div id="demo" class="collapse">
          <hr />

          <form class="clearfix mb-4">
            <div class="form-group">
              <label for="job-title">Title</label>
              <input type="text" id="job_title" class="form-control" aria-describedby="job-title"
                placeholder="Type the Job Title">
            </div>

            <div class="form-group">
              <label for="job_description">Job Description</label>
              <input type="text" id="job_description" class="form-control" aria-describedby="description-text"
                placeholder="Type the Job URL">
            </div>

            <div class="form-group">
              <label for="job_company">Company</label>
              <input type="text" id="job_company" class="form-control" aria-describedby="company-text"
                placeholder="Type the Comapny Name">
            </div>

            <div class="form-group">
              <label for="action_datepicker">Action Date</label>

              <input id="action_datepicker" width="300" class="form-control" aria-describedby="action-datepicker"
                placeholder="Date you want it completed?" />
              <script>
                $('#datepicker').datepicker({
                  uiLibrary: 'bootstrap'
                });
              </script>
            </div>
            <button id="submit" class="btn btn-primary float-right">Submit</button>
          </form>
        </div>
        <hr />
        <h3>Listed Job Trax:</h3>
        <ul id="jobs_list" class="list-group">
          {{#each jobs}}
            <li data-id="{{this.job_id}}" class="list-group-item">
              <a href="job/{{this.job_id}}">{{this.title}}</a>
              <button class="btn btn-danger float-right delete">ｘ</button>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#datetimepicker').datetimepicker({
    format: 'MM/dd/yyyy',
    language: ''
  });
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

