<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h1> Job Trax </h1>

        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Create your Trax</button>
        <div id="demo" class="collapse">
          <hr />

          <form class="clearfix mb-4" action="POST">
            <div class="form-group">
              <label for="example-text">Title</label>
              <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
                placeholder="Type the Job Title">
            </div>

            <div class="form-group">
              <label for="example-text">Company</label>
              <input type="text" id="example-description" class="form-control" aria-describedby="example-text"
                placeholder="Type the Comapny Name">
            </div>

            <div class="form-group">
              <label for="example-text">URL</label>
              <input type="text" id="companyURL" class="form-control" aria-describedby="example-text"
                placeholder="Type the Website URL">
            </div>

            <div class="form-group">
              <label for="example-text">Action Date</label>

              <input id="datepicker" width="300" class="form-control" aria-describedby="example-text"
                placeholder="Date you want it completed?" />
              <script>
                $('#datepicker').datepicker({
                  uiLibrary: 'bootstrap'
                });
              </script>
            </div>
            <button id="submit" class="btn btn-primary float-right">Submit</button>
          </form>
        </div>
        <hr />
        <h3>Listed Job Trax:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#datetimepicker').datetimepicker({
    format: 'MM/dd/yyyy',
    language: ''
  });
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

