<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">job</h5>
          <p>
            <strong>Company</strong>: {{job.Company}}</p>
          <p>
          <p>
            <strong>Title</strong>: {{job.title}}</p>
          <p>
            <strong>Description:</strong>{{job.description}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
