
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-2">            
            <h1>Welcome to JobTrax</h1>
            <div class="form-group">
                <input class="form-control" id="user_name-input" placeholder="user_name"/>
                <input type="password" class="form-control" id="password-input" placeholder="password"/>
                <div>
                    <button class="btn btn-primary" type="submit" id="sign-in-button">Sign In</button>
                    Or
                    <button class="btn btn-primary" type="submit" id="new-user-button">Create a New Account</button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div id="jwt-token"></div>
        </div>
        <div class="col-md-12"></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/index.js"></script>
<script src="/js/frontend.js"></script>
