<div class="container">
  <div class="row">
    <div class="col-md-6 offset-2">
      <br>
      <h1>Welcome to JobTraX</h1> <br>

      <div class="form-group">
        <input class="form-control" id="user_name-input" placeholder="Username" /> <br>
        <input type="password" class="form-control" id="password-input" placeholder="Password" />
        <hr />

        <div class="signInOrCreateAccount">
          <button class="btn btn-primary sign_in" type="submit" id="sign-in-button">SIGN IN</button>
          OR
          <button class="btn btn-primary sign_in" type="submit" id="new-user-button">CREATE NEW ACCOUNT</button>
        </div>

      </div>
    </div>
    <div class="col-md-12">
      <div id="jwt-token"></div>
    </div>
    <div class="col-md-12"></div>
  </div>
  <div class="col-md-12"></div>
</div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/index.js"></script>
<script src="/js/frontend.js"></script>