<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome to JobTrax</h1>
      <input id="user_name-input" placeholder="user_name" />
      <input id="password-input" placeholder="password" />
      <div>
        <button type="submit" id="sign-in-button">Sign In</button>
        Or
        <button type="submit" id="new-user-button">Create a New Account</button>
      </div>
    </div>
    <div class="col-md-12">
      <div id="jwt-token"></div>
    </div>
    <div class="col-md-12"></div>
  </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/index.js"></script>
<script src="/js/frontend.js"></script>