
<div class="container">
    <div class="row">
        <div class="col-md-12">            
            <h1>Sign In:</h1>
            <input id="username-input" placeholder="Username"/>
            <input id="password-input" placeholder="password"/>
            <button type="submit" id="sign-in-button">Sign In</button>
        </div>
        <div class="col-md-12">
            <h1>JWT Token:</h1>
            <div id="jwt-token"></div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/index.js"></script>
<script src="/js/frontend.js"></script>
