
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-2"> 
            <h1>Create Your Account:</h1>
                <form>
                    <div class="form-group">          
                        <input class="form-control" id="new-user_name-input" placeholder="New User Name"/>
                        <input type="password" class="form-control" id="new-password-input" placeholder="Password"/>
                        <input type="password" class="form-control" id="new-password-verify-input" placeholder="Retype Password"/>
                        <div>
                            <button class="btn btn-primary" type="submit" id="create-new-user-button">Create a New Account</button>
                        </div>
                    </div>
                </form>
            
        </div>
        
        <div id="message-div" class="col-md-12">
            
        </div>
        <div class="col-md-12"></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/register.js"></script>
<script src="/js/frontend.js"></script>
