<div class="container">
  <div class="row">
    <div class="col-md-6 offset-2">
      <br>
      <h1>Create Your Account:</h1>

      <hr />
      <form>
        <div class="form-group">
          <input class="form-control" id="new-user_name-input" placeholder="Nhu Username" /><br>
          <input type="password" class="form-control" id="new-password-input" placeholder="Nhu Password" /><br>
          <input type="password" class="form-control" id="new-password-verify-input"
            placeholder="Retype Nhu Password" /><br>
          <hr />
          <div>
            <button class="btn btn-primary" type="submit" id="create-new-user-button">CREATE YOUR ACCOUNT</button>
          </div>
        </div>
        <a class="backto" href="/">← Back To Job TraX</a>
      </form>

    </div>

    <div id="message-div" class="col-md-12">

    </div>
    <div class="col-md-12"></div>
  </div>
  <div class="col-md-12"></div>
</div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/register.js"></script>
<script src="/js/frontend.js"></script>